header{
    background-color: #FFF9F4;
    padding-bottom: 7%;
}
.middle-img {
	margin-left: -18%;
	margin-top: -4%;
}
.navbar-light .navbar-brand {
	
	margin-top: 1%;
}
.custom-color{
    color: #3C3C3C!important;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 16px;
}
.shoe-img img{
 width: 85%;
}

.shoe-name {
	margin-top: 16%;
	margin-left: 13%;
}
img{
    width: 100%;
}
.buy-now a img{
    width: 5%;
}
.buy-now a {
	text-decoration: none;
	background-color: #3D4FF3;
	padding: 13px 17px;
	color: #fff;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	
}
.shoe-name h1{
color: #FA804C;
font-family: font-family: 'Bebas Neue', cursive;
font-weight:700;
font-size: 62px;

}
.shoe-name p {
	color: #363958;
	font-family: font-family: 'Bebas Neue', cursive;
	margin-bottom: 31px;
}
.shoe-name h2{
    color: #363958;
    font-family: font-family: 'Bebas Neue', cursive;
    font-weight:700;
    font-size: 62px;
    
}
.buy-nower .cart{
 
}
.buy-nower a{
    text-decoration: none;
	background-color: #3D4FF3;
	padding: 13px 17px;
	color: #fff;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	/* margin-top: 10px; */
	
}
.product {
	background-color: #E5E5E5;
	margin-top: -20px;
	
	padding-top: 35px;
}
.product h1{
    color: #363958;
    font-family: font-family: 'Bebas Neue', cursive;
    font-size:40px;
    font-weight:700;
    margin-top:20px;
}
.p-img{
 
}
.p-img img{
    width: 80%;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.p-img h2{
    color: #363958;
    font-size: 24px;
    font-weight:700;
}
.p-img p{
    color: #3E3E3E;
}
.p-shoe h3{
    color: #FA804C;
    font-size: 35px;
}

.wrapper {
	background-color: #fff;
	padding-left: 50px;
	border-radius: 13px;
	
	padding-top: 13px;
}

.p-img2 img{
   
}
.p-img2 h2{
    color: #363958;
    font-size: 24px;
    font-weight:700;
}
.p-img2 p{
    color: #3E3E3E;
}
.shopping{
    background-color: #E5E5E5;
}
.shop-txt {
	
    margin-left: -16%;
    margin-top: 5px;
    width: 60%;
    float: right;
}
.shop-txt h3{
    color:#363958;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.shop-img{
    width:30% ;
    float: left;
}
.shop-img img {
	width: 25%;
	margin: 12px 6px;
}
.shoping-cart img {
	margin-left: 26px;
}
.shop-wrap {
	background-color: #fff;
	padding: 2px 25px;
	border-radius: 15px;
	margin-top: 10px;
	display: inline-block;
}

.Support-area{
    background-color: #f1f1f1;
}
.Support-area .icon{
    transition: rotate(90deg);
  
}
.Support-area .icon:hover{
    transform: translate3d(0px, -4%, 4em);
}
.Support-area .icon i{
    font-size: 27px;
    color: #a8cee3;
    /* margin-left: 7px; */
}
.Support-area .s-item-box{
    border: 1px solid #ddd;
    padding: 20px 59px;
}
.Support-area .tex-area{
   
    margin-left: 16px;
}
footer{
   background-color: #E5E5E5;
   padding: 10px 5px;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 768px) {
   
.middle-img{
    display: none;
}
.navbar-brand {
	width: 77%;
}

.shoe-img{
    margin-left: -10px;
}
.shoe-name{
    margin-left: -10px;
}
.product h1{
    text-align: center;
}
.wrapper{
    margin-top: 10px;
}

.shop-txt {
	display: block;
	width: 100%;
}
.shop-wrap {
	/* display: block; */
	width: 100%;
	text-align: center;
}
.shop-img{
    width: 100%;
}
.shoping-cart {
	margin-top: 30px;
}
.shop-img{
   
      
    
}

  }

  @media screen and (max-width: 375px) {
    .navbar-brand {
        width: 74%;
    }
    .shoe-name h1 {
       
        font-size: 32px;
    }
    .shoe-name h2 {
       
        font-size: 40px;
    }
    header {
     
        padding-bottom: 19%;
    }
  }